@font-face{
    src: url(../font/Montserrat-Black.ttf);
    font-family: font-black;
}
@font-face{
    src: url(../font/Montserrat-Bold.ttf);
    font-family: font-bold;
}
@font-face{
    src: url(../font/Montserrat-ExtraBold.ttf);
    font-family: font-extra-bold;
}
@font-face{
    src: url(../font/Montserrat-ExtraLight.ttf);
    font-family: font-extra-light;
}
@font-face{
    src: url(../font/Montserrat-Light.ttf);
    font-family: font-light;
}
@font-face{
    src: url(../font/Montserrat-Medium.ttf);
    font-family: font-medium;
}
@font-face{
    src: url(../font/Montserrat-Regular.ttf);
    font-family: font-regular;
}
@font-face{
    src: url(../font/Montserrat-SemiBold.ttf);
    font-family: font-semi-bold;
}
@font-face{
    src: url(../font/Montserrat-Thin.ttf);
    font-family: font-thin;
}

:root {
    --black: #161616;
    --primary-clr: #EA3A3A;
}

*{
    font-family: 'font-medium', 'sans-serif';
}

/* =====  Home Page  ===== */

.home_see_all_items_heading{
    font-family: font-bold;
    color: black;
    font-size: 22px;
}
.home_see_all_items_heading::after{
    content: "";
    border-bottom: 1px solid silver;
    left: 0;
    bottom: -5px;
    width: 100%;
    position: absolute;
}
.home_see_all_items_link > a{
    color: var(--black);
    font-size: 14px;
    font-family: font-bold;
    text-decoration: none;
}

/* Welcome NS */
.home_welcome_ns{
    border-bottom: 2px solid #E9E9E9;
}
.home_welcome_ns_heading{
    font-size: 13px;
    color: var(--black);
    font-family: font-bold;
}
.home_welcome_ns_link{
    color: var(--black);
    font-family: font-medium;
    font-size: 13px;
    text-decoration: none;
}
.home_welcome_ns_link:hover{
    color: black;
}
.home_welcome_ns_drop_icon{
    color: var(--black);
    font-size: 28px;
}
.home_welcome_ns_drop_box > li > a{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: font-bold;
}

/* Navbar */
.home_navbar{
    background-color: var(--black);
}
.home_navbar_brand{
    background-color: var(--primary-clr);
    color: white;
    font-size: 15px;
    padding: 12.5px 13px !important;
    height: 100%;
}
.home_navbar_brand:hover{
    color: white;
}
.home_nav_item{
    height: 100%;
}
.home_nav_link{
    color: white;
    font-size: 15px;
    padding: 10px 13px !important;
    height: 100%;
    display: flex;
    align-items: center;
}
.home_nav_link:hover{
    background-color: var(--primary-clr);
    color: white;
}
.home_nav_link:focus{
    color: white;
}
.home_navbar_toggler{
    box-shadow: none !important;
}
.home_navbar_toggler_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Search Header */
.home_logo{
    color: var(--primary-clr);
    font-size: 22px;
    font-family: font-extra-bold;
}
.home_search_header_call_box{
    border-right: 2px solid #E9E9E9;
}
.home_search_header_icon_text{
    font-size: 13px;
    color: var(--black);
}
.home_search_header_call_number{
    font-family: font-bold;
    font-size: 15px;
    color: var(--black);
}

/* Policy Boxes */
.home_policy_boxes{
    border: 2px solid #E9E9E9;
    height: 100%;
}
.home_policy_box_heading{
    font-size: 14px;
    font-family: font-bold;
}
.home_policy_box_text{
    font-size: 14px;
}

/* Hot Offers */
.home_hot_offers_box{
    border: 2px solid var(--primary-clr);
}
.home_hot_offers_timer{
    background-color: var(--primary-clr);
}
.home_hot_offers_timer_time{
    color: white;
    font-family: font-bold;
    font-size: 17px;
}
.home_hot_offers_timer_text{
    color: white;
    font-size: 15px;
    font-family: font-regular;
}
.home_hot_offers_title{
    font-family: font-bold;
    color: black;
    font-size: 16px;
}
.home_hot_offers_price{
    font-family: font-bold;
    color: black;
    font-size: 16px;
}
.home_hot_offers_text{
    color: var(--black);
    font-size: 14px;
}
.home_hot_offers_stars{
    color: #FAB005;
}
.home_hot_offers_btns{
    z-index: 1;
}
.home_hot_offers_cart_btn{
    font-size: 14px;
    border: 1px solid var(--black);
    color: var(--black);
}
.home_hot_offers_cart_btn:hover{
    background-color: var(--primary-clr);
    color: white;
    border-color: var(--primary-clr);
}

/* Best Selling */
.home_best_selling_heading > a{
    font-size: 16px;
    color: var(--black);
    text-decoration: none;
}
.home_best_selling_heading > a:hover{
    text-decoration: underline;
}
.home_best_selling_price{
    font-size: 16px;
    font-family: font-bold;
    color: var(--black);
}
.home_best_selling_box{
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 15px 15px 35px rgb(230, 230, 230);
}

/* Compare Products */
.home_compare_product_heading{
    font-family: font-bold;
    color: var(--black);
}

/* Footer */
.footer{
    background-color: var(--black);
}
.footer_heading{
    color: white;
    font-family: font-bold;
    font-size: 18px;
}
.footer_about{
    color: white;
    font-size: 16px;
    font-family: font-regular;
}
.footer_list > a{
    color: white;
    font-family: font-regular;
    text-decoration: none;
    transition-duration: 0.3s;
    font-size: 16px;
}
.footer_list > a:hover{
    transform: translate(5px);
}

@media screen and (max-width: 992px) {
    /* Navbar */
    .home_nav_link{
        color: var(--black);
        display: flex;
        align-items: center;
    }
    .home_nav_link:focus{
        color: var(--black);
    }
    .home_nav_link:hover{
        color: white;
    }
}



/* === Products Page === */
.products_page_gray_box{
    border: 1px solid silver;
    background-color: rgb(230, 230, 230);
}
.products_page_filter_header{
    font-size: 18px;
}

/* Filter */
.product_page_filter_box_border{
    border: 1px solid silver;
    border-top: none;
}
.product_page_filter_heading{
    font-size: 14px;
    color: var(--black);
    font-family: font-bold;
}
.product_page_filter_text{
    font-size: 14px;
    color: var(--black);
}



/* === Product Detail Page === */

/* Breadcrumb */
.breadcrumb-item{
    color: var(--black) !important;
    font-size: 14px;
}
.breadcrumb-item > a{
    color: var(--black);
    text-decoration: none;
}

/* Product Title */
.product_detail_title{
    font-size: 22px;
    font-family: font-bold;
    color: black;
}
.product_detail_text{
    color: var(--black);
    font-size: 14px;
}
.product_detail_sm_heading{
    padding-right: 20px;
    padding-top: 7px;
    color: var(--black);
    font-size: 14px;
    font-family: font-bold;
}
.product_detail_price{
    color: var(--primary-clr);
    font-size: 22px;
}
.product_detail_price_del{
    font-size: 22px;
    text-decoration: line-through;
}
.product_detail_timer{
    border: 2px solid var(--primary-clr);
    border-radius: 10px;
    display: inline-flex;
}
.product_detail_timer > div{
    padding: 5px 10px;
}
.product_detail_timer_time{
    font-family: font-bold;
    font-size: 16px;
}
.product_detail_timer_text{
    font-size: 14px;
    font-family: font-regular;
}
.product_detail_cart_quantity{
    border: 1px solid var(--primary-clr);
}
.product_detail_cart_quantity > button{
    border: none;
    padding: 5px 15px;
    font-size: 18px;
    background-color: rgb(225, 225, 225);
    transition-duration: 0.3s;
}
.product_detail_cart_quantity > button:hover{
    background-color: var(--primary-clr);
    color: white;
}
.product_detail_cart_quantity > input{
    text-align: center;
    width: 60px;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
}
.product_detail_cart_quantity > input:focus{
    outline: none;
}
.product_detail_cart_quantity > input::-webkit-outer-spin-button,
.product_detail_cart_quantity > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product_detail_cta_buttons > button{
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(225, 225, 225);
    transition-duration: 0.3s;
    color: var(--black);
    border-radius: 5px;
}
.product_detail_cta_buttons > button:first-child,
.product_detail_cta_buttons > button:hover{
    background-color: var(--primary-clr);
    color: white;
}

/* Product Description */
.product_detail_description{
    border: 1px solid rgb(225, 225, 225);
}

/* Product Comments */
.product_detail_cmnts_like_btn{
    box-shadow: none;
}
.product_detail_cmnts_like_btn > i{
    color: gray;
    transition-duration: 0.3s;
}
.product_detail_cmnts_like_btn:hover > i{
    transform: scale(1.2);
}



/* === Checkout Page === */

.checkout_box_border{
    border: 1px solid silver;
}
.checkout_info_border{
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
}

/* Checkout Info Box */
.checkout_info_header_number{
    width: 30px;
    height: 30px;
    color: white;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 16px;
    font-family: font-bold;
}
.checkout_info_header_heading{
    font-size: 18px;
    color: var(--black);
}
.checkout_table_td{
    vertical-align: top;
    padding: 10px 0px;
    min-width: 130px;
}
.checkout_input{
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid silver;
    border-radius: 5px;
}
.checkout_input:focus{
    outline: none;
    border: 1px solid gray;
}
.checkout_password_btn{
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid silver;
    border-radius: 5px;
}
.checkout_password_btn:hover{
    border: 1px solid gray;
}
.checkout_promocode_btn{
    font-size: 14px;
    padding: 5px 15px;
    background-color: var(--primary-clr);
    color: white;
    border: none;
    transition-duration: 0.3s;
}
.checkout_promocode_btn:hover{
    background-color: var(--black);
}

/* Checkout Price Box */
.checkout_price_box_text{
    font-size: 14px;
    color: var(--black);
}
.checkout_price_box_text:hover{
    color: var(--black);
}
.checkout_price_box_total{
    font-size: 16px;
    color: black;
    font-weight: 600;
}
.checkout_place_order_btn{
    font-size: 16px;
    padding: 10px 15px;
    background-color: var(--primary-clr);
    color: white;
    border: none;
    transition-duration: 0.3s;
}
.checkout_place_order_btn:hover{
    background-color: var(--black);
    color: white;
}
.checkout_place_order_btn:active{
    color: white;
    background-color: var(--primary-clr);
}
.checkout_place_order_btn:focus{
    color: white;
    background-color: var(--black);
}