:root {
    --black: #161616;
}

/* === Home Page === */

/* Welcome NS */
.home_welcome_ns{
    border-bottom: 2px solid #E9E9E9;
}
.home_welcome_ns_heading{
    font-size: 13px;
    color: var(--black);
    font-weight: bold;
}
.home_welcome_ns_link{
    color: var(--black);
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
}
.home_welcome_ns_link:hover{
    color: black;
}
.home_welcome_ns_drop_icon{
    color: var(--black);
    font-size: 28px;
}
.home_welcome_ns_drop_box > li > a{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}