@font-face{
    src: url(../font/Montserrat-Black.ttf);
    font-family: font-black;
}
@font-face{
    src: url(../font/Montserrat-Bold.ttf);
    font-family: font-bold;
}
@font-face{
    src: url(../font/Montserrat-ExtraBold.ttf);
    font-family: font-extra-bold;
}
@font-face{
    src: url(../font/Montserrat-ExtraLight.ttf);
    font-family: font-extra-light;
}
@font-face{
    src: url(../font/Montserrat-Light.ttf);
    font-family: font-light;
}
@font-face{
    src: url(../font/Montserrat-Medium.ttf);
    font-family: font-medium;
}
@font-face{
    src: url(../font/Montserrat-Regular.ttf);
    font-family: font-regular;
}
@font-face{
    src: url(../font/Montserrat-SemiBold.ttf);
    font-family: font-semi-bold;
}
@font-face{
    src: url(../font/Montserrat-Thin.ttf);
    font-family: font-thin;
}

:root {
    --black: #161616;
    --primary-clr: #EA3A3A;
}

*{
    font-family: 'font-medium', 'sans-serif';
}
body{
    overflow-x: hidden;
}

/* =====  Home Page  ===== */

.home_see_all_items_heading{
    font-family: font-bold;
    color: black;
    font-size: 22px;
}
.home_see_all_items_heading::after{
    content: "";
    border-bottom: 1px solid silver;
    left: 0;
    bottom: -5px;
    width: 100%;
    position: absolute;
}
.home_see_all_items_link > a{
    color: var(--black);
    font-size: 14px;
    font-family: font-bold;
    text-decoration: none;
    border: 1px solid gray;
    padding: 7px 12px;
    transition-duration: 0.3s;
}
.home_see_all_items_link > a:hover{
    border: 1px solid var(--primary-clr);
}

/* Welcome NS */
.home_welcome_ns{
    border-bottom: 2px solid #E9E9E9;
}
.home_welcome_ns_heading{
    font-size: 13px;
    color: var(--black);
    font-family: font-bold;
}
.home_welcome_ns_link{
    color: var(--black);
    font-family: font-medium;
    font-size: 13px;
    text-decoration: none;
}
.home_welcome_ns_link:hover{
    color: black;
}
.home_welcome_ns_drop_icon{
    color: var(--black);
    font-size: 28px;
}
.home_welcome_ns_drop_box > li > a{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: font-bold;
}

/* Navbar */
.home_navbar{
    background-color: var(--black);
}
.home_navbar_brand{
    background-color: var(--primary-clr);
    padding: 12.5px 13px !important;
    height: 100%;
    font-size: 15px;
    border: none;
    color: white;
}
.home_navbar_browse_list > li > .dropdown-item,
.home_navbar_browse_list > li > .dropdown > .dropdown-item{
    padding: 10px;
    font-size: 14px;
    color: black;
    transition-duration: 0.3s;
}
.home_navbar_browse_list > li > .dropdown-item:hover,
.home_navbar_browse_list > li > .dropdown:hover > .dropdown-item{
    background-color: var(--primary-clr);
    color: white;
}
.home_navbar_brand:hover{
    color: white;
}
.home_nav_item{
    height: 100%;
}
.home_nav_link{
    color: white;
    font-size: 15px;
    padding: 10px 13px !important;
    height: 100%;
    display: flex;
    align-items: center;
}
.home_nav_link:hover{
    background-color: var(--primary-clr);
    color: white;
}
.home_nav_link:focus{
    color: white;
}
.home_navbar_toggler{
    box-shadow: none !important;
}
.home_navbar_toggler_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Search Header */
.home_logo{
    color: var(--primary-clr);
    font-size: 22px;
    font-family: font-extra-bold;
}
.home_search_box{
    border: 1px solid var(--primary-clr);
}
.home_search_box_dropdown > button{
    font-size: 14px;
}
.home_search_box_dropdown > ul{
    z-index: 99999;
}
.home_search_box_input > input{
    border: none;
    outline: none;
    border-left: 1px solid silver;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 14px;
    width: 100%;
}
.home_search_box_input{
    position: relative;
}
.home_search_box_input_list{
    position: absolute;
    z-index: 9999 !important;
    background-color: #E9E9E9;
    list-style-type: none;
    width: 100%;
}
.home_search_box_input_list > a{
    padding: 5px 15px !important;
    color: black;
    text-decoration: none;
    width: 100% !important;
    transition-duration: 0.3s;
    display: block;
    font-size: 14px;
}
.home_search_box_input_list:first-child{
    padding-top: 5px;
}
.home_search_box_input_list:last-child{
    padding-bottom: 5px;
}
.home_search_box_input_list > a:hover{
    background-color: var(--primary-clr);
    color: white;
}
.home_search_header_call_box{
    border-right: 2px solid #E9E9E9;
}
.home_search_header_icon_text{
    font-size: 13px;
    color: var(--black);
}
.home_search_header_call_number{
    font-family: font-bold;
    font-size: 15px;
    color: var(--black);
}
.home_search_header_cart_badge{
    background-color: var(--primary-clr);
    font-size: 12px;
}
.home_navbar_offcanvas_cart_badge{
    background-color: var(--primary-clr);
    color: white;
    transition-duration: 0.3s;
}
.home_nav_item:hover .home_navbar_offcanvas_cart_badge{
    background-color: black !important;
}

/* Carousel */
.hero_carousel_text_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    padding-left: 20%;
}
.hero_carousel_text_box::before{
    content: "";
    background-image: url('../img/slider2.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.hero_carousel_text_1{
    color: var(--primary-clr);
    font-size: 16px;
    text-transform: uppercase;
}
.hero_carousel_text_2{
    font-size: 32px;
    color: var(--black);
    font-family: font-extra-bold;
}
.hero_carousel_text_3{
    font-size: 22px;
    color: var(--black);
}
.hero_carousel_text_4{
    font-size: 14px;
    color: var(--black);
}
.hero_carousel_btn > a{
    font-size: 14px;
    padding: 10px 25px;
    border: 1px solid gray;
    text-transform: uppercase;
    background-color: transparent;
    transition-duration: 0.3s;
    margin-top: 10px;
}
.hero_carousel_btn > a:hover{
    background-color: var(--primary-clr);
    border-color: var(--primary-clr);
    color: white;
}
.hero_carousel_btn > a > i{
    animation: movingRightArrowBtn 1.2s infinite;
}
@keyframes movingRightArrowBtn{
    0%{
        left: 0px;
    }
    50%{
        transform: translate(10px);
    }
    100%{
        left: 0px;
    }
}
.hero_carousel_prev_next_icon > i{
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_carousel_indicator_btns{
    bottom: -50px;
}
.hero_carousel_indicator_btn_1{
    width: 70px !important;
    height: 70px !important;
    border-radius: 50%;
    background-image: url('../img/p-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1 !important;
    border: 2px solid transparent !important;
}
.hero_carousel_indicator_btn_2{
    width: 70px !important;
    height: 70px !important;
    border-radius: 50%;
    background-image: url('../img/p-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1 !important;
    border: 2px solid transparent !important;
    margin: 0px 10px !important;
}
.hero_carousel_indicator_btn_3{
    width: 70px !important;
    height: 70px !important;
    border-radius: 50%;
    background-image: url('../img/p-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1 !important;
    border: 3px solid transparent !important;
}
.hero_carousel_indicator_btns > .active{
    border: 3px solid var(--primary-clr) !important;
}


/* Policy Boxes */
.home_policy_boxes{
    border: 2px solid #E9E9E9;
    height: 100%;
}
.home_policy_box_heading{
    font-size: 14px;
    font-family: font-bold;
}
.home_policy_box_text{
    font-size: 14px;
}

/* Hot Offers */
.home_hot_offers_box{
    border: 2px solid var(--primary-clr);
}
.home_hot_offers_timer{
    background-color: var(--primary-clr);
}
.home_hot_offers_timer_time{
    color: white;
    font-family: font-bold;
    font-size: 17px;
}
.home_hot_offers_timer_text{
    color: white;
    font-size: 15px;
    font-family: font-regular;
}
.home_hot_offers_title{
    font-family: font-bold;
    color: black;
    font-size: 16px;
}
.home_hot_offers_price{
    font-family: font-bold;
    color: black;
    font-size: 16px;
}
.home_hot_offers_text{
    color: var(--black);
    font-size: 14px;
}
.home_hot_offers_stars{
    color: #FAB005;
}
.home_hot_offers_btns{
    z-index: 1;
}
.home_hot_offers_cart_btn{
    font-size: 14px;
    border: 1px solid var(--black);
    color: var(--black);
}
.home_hot_offers_cart_btn:hover{
    background-color: var(--primary-clr);
    color: white;
    border-color: var(--primary-clr);
}

/* Compare Products */
.home_compare_product_heading{
    font-family: font-bold;
    color: var(--black);
}

/* Footer */
.footer{
    background-color: var(--black);
}
.footer_heading{
    color: white;
    font-family: font-bold;
    font-size: 16px;
}
.footer_about{
    color: white;
    font-size: 14px;
    font-family: font-regular;
}
.footer_headphone_icon > i{
    font-size: 2rem;
    color: var(--primary-clr);
}
.footer_list > a{
    color: white;
    font-family: font-regular;
    text-decoration: none;
    transition-duration: 0.3s;
    font-size: 14px;
}
.footer_list > a:hover{
    transform: translate(5px);
}

@media screen and (max-width: 992px) {
    /* Navbar */
    .home_nav_link{
        color: var(--black);
        display: flex;
        align-items: center;
    }
    .home_nav_link:focus{
        color: var(--black);
    }
    .home_nav_link:hover{
        color: white;
    }
    /* Search Header */
    .home_search_header_call_box{
        border-right: none;
    }
    .home_navbar_browse_list_responsive{
        position: static !important;
    }
}
@media screen and (max-width: 768px) {
    .hero_carousel_text_box::after{
        content: "";
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        position: absolute;
        z-index: -1;
    }
    .hero_carousel_text_box{
        align-items: center;
        padding: 5%;
    }
    .hero_carousel_text_box > div{
        color: white;
    }
    .hero_carousel_text_box > div > a{
        color: white;
        border-color: var(--primary-clr);
        background-color: var(--primary-clr);
    }
}



/* === Products Page === */
.products_page_gray_box{
    border: 1px solid silver;
    background-color: rgb(230, 230, 230);
}
.products_page_filter_header{
    font-size: 18px;
}

input[type=checkbox] {
    accent-color: var(--primary-clr);
}

/* Filter */
.product_page_filter_box_border{
    border: 1px solid silver;
    border-top: none;
}
.product_page_filter_heading{
    font-size: 14px;
    color: var(--black);
    font-family: font-bold;
}
.product_page_filter_text{
    font-size: 14px;
    color: var(--black);
}
.product_page_filter_size_btn > button{
    font-size: 14px;
    border: 1px solid silver;
    background-color: white;
    color: gray;
    transition-duration: 0.3s;
    padding: 2px 8px;
    margin: 3px 2px;
}
.product_page_filter_size_btn > button:hover{
    border: 1px solid var(--primary-clr);
    color: var(--black);
}
.product_page_filter_price_box{
    text-align: center;
    position: relative;
    font-size: 14px;
}
.product_page_filter_price{
    position: absolute;
    left: 0;
    accent-color: var(--primary-clr);
}
.product_page_filter_price_box .product_page_filter_price_value{
    display: block;
}
.product_page_filter_price::-webkit-slider-runnable-track {
    height: 7px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
.product_page_filter_price::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #21c1ff;
    margin-top: -4px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.product_page_filter_price:focus {
    outline: none;
}
.product_page_filter_price:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
.product_page_filter_price::-moz-range-track {
    height: 7px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
.product_page_filter_price::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #21c1ff;
}  
.product_page_filter_price:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}  
.product_page_filter_price::-ms-track {
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
    z-index: -4;
}
.product_page_filter_price::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
.product_page_filter_price::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

.product_page_filter_price::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #21c1ff;
}
.product_page_filter_price:focus::-ms-fill-lower {
    background: #888;
}
.product_page_filter_price:focus::-ms-fill-upper {
    background: #ccc;
}

/* Products */
.products_page_filter_btn_offcanvas{
    border: none;
    background-color: var(--primary-clr);
    color: white;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 3px;
    transition-duration: 0.3s;
}
.products_page_filter_btn_offcanvas:hover{
    background-color: var(--black);
}
.product_page_filter_sort_dropdown{
    font-size: 14px;
    outline: none;
    border: none;
    padding: 5px 10px;
}
.products_page_product_box{
    box-shadow: 15px 15px 35px rgb(230, 230, 230);
    border-radius: 10px;
}
.products_page_product_img{
    border-radius: 10px;
}
.products_page_product_img_box{
    position: relative;
}
.products_page_product_img_discount{
    background-color: var(--primary-clr);
    color: white;
    position: absolute;
    top: -10px;
    left: -10px;
    /* padding: 2px 7px; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 0px;
}
.products_page_product_img_overlay_btns{
    position: absolute;
    right: 10px;
    top: 10px;
}
.products_page_product_img_overlay_btns > form{
    display: flex;
}
.products_page_product_img_overlay_btns > form > button{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: white;
    transition-duration: 0.3s;
    opacity: 0;
}
.products_page_product_img_overlay_btns > form > button:hover{
    background-color: var(--primary-clr);
}
.products_page_product_img_overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 14px;
    padding: 15px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .products_page_product_box:hover .products_page_product_img_overlay,
  .products_page_product_box:hover .products_page_product_img_overlay_btns > form > button{
    opacity: 1;
  }
.products_page_product_title{
    font-size: 14px;
    color: var(--black);
    font-family: font-bold;
    text-decoration: none;
    transition-duration: 0.3s;
}
.products_page_product_title:hover{
    color: var(--black);
    text-decoration: underline;
}
.products_page_product_price_del{
    text-decoration: line-through;
    font-size: 14px;
}
.products_page_product_price{
    font-size: 16px;
    font-family: font-bold;
    color: var(--black);
}
.products_page_pagination_boxes > a{
    color: var(--black);
    text-decoration: none;
}
.products_page_pagination_boxes > a > div{
    border: 1px solid gray;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 3px;
    transition-duration: 0.3s;
    background-color: white;
}
.products_page_pagination_boxes > a > div:hover{
    /* border: 1px solid var(--primary-clr); */
    background-color: var(--primary-clr);
    color: white;
    border-color: var(--primary-clr);
}



/* === Product Detail Page === */

/* Breadcrumb */
.breadcrumb-item{
    color: var(--black) !important;
    font-size: 14px;
}
.breadcrumb-item > a{
    color: var(--black);
    text-decoration: none;
}

/* Product Title */
.product_detail_title{
    font-size: 22px;
    font-family: font-bold;
    color: black;
}
.product_detail_text{
    color: var(--black);
    font-size: 14px;
}
.product_detail_text_not_available{
    color: var(--primary-clr);
    font-family: font-bold;
}
.product_detail_sm_heading{
    padding-right: 20px;
    padding-top: 7px;
    color: var(--black);
    font-size: 14px;
    font-family: font-bold;
}
.product_detail_color_btns > button{
    background-color: silver;
    border: none;
    width: 25px;
    height: 25px;
    margin: 0px 2px;
    transition-duration: 0.3s;
}
.product_detail_color_btns > button:hover,
.product_detail_color_btns > button:focus{
    transform: scale(1.2);
}
.product_detail_price{
    color: var(--primary-clr);
    font-size: 22px;
}
.product_detail_price_del{
    font-size: 22px;
    text-decoration: line-through;
}
.product_detail_timer{
    border: 2px solid var(--primary-clr);
    border-radius: 10px;
    display: inline-flex;
}
.product_detail_timer > div{
    padding: 5px 10px;
}
.product_detail_timer_time{
    font-family: font-bold;
    font-size: 16px;
}
.product_detail_timer_text{
    font-size: 14px;
    font-family: font-regular;
}
.product_detail_cart_quantity{
    border: 1px solid var(--primary-clr);
    display: inline-block;
}
.product_detail_cart_quantity > button{
    border: none;
    padding: 5px 15px;
    font-size: 18px;
    background-color: rgb(225, 225, 225);
    transition-duration: 0.3s;
}
.product_detail_cart_quantity > button:hover{
    background-color: var(--primary-clr);
    color: white;
}
.product_detail_cart_quantity > input{
    text-align: center;
    width: 60px;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
}
.product_detail_cart_quantity > input:focus{
    outline: none;
}
.product_detail_cart_quantity > input::-webkit-outer-spin-button,
.product_detail_cart_quantity > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product_detail_cta_buttons > button{
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(225, 225, 225);
    transition-duration: 0.3s;
    color: var(--black);
    border-radius: 5px;
}
.product_detail_cta_buttons > button:first-child,
.product_detail_cta_buttons > button:hover{
    background-color: var(--primary-clr);
    color: white;
}

/* Product Description */
.product_detail_description{
    border: 1px solid rgb(225, 225, 225);
}

/* Product Comments */
.product_detail_cmnts_like_btn{
    box-shadow: none;
}
.product_detail_cmnts_like_btn > i{
    color: gray;
    transition-duration: 0.3s;
}
.product_detail_cmnts_like_btn:hover > i{
    transform: scale(1.2);
}

/* Write Review */
.product_detail_write_review_btn{
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(225, 225, 225);
    transition-duration: 0.3s;
    color: var(--black);
    border-radius: 5px;
}
.product_detail_write_review_btn:hover{
    background-color: var(--primary-clr);
    color: white;
}
.product_detail_write_review_input > input:focus,
.product_detail_write_review_input > textarea:focus{
    border: 1px solid var(--primary-clr);
}
.product_detail_write_review_input > textarea{
    height: 150px !important;
    resize: none;
}
.product_detail_write_review_rating{
    position: relative;
    display: flex;
    margin: 10px 0;
    flex-direction: row-reverse ;
}
.product_detail_write_review_rating input{
    position: relative;
    width: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
    cursor: pointer;
}
.product_detail_write_review_rating input::before{
    content: '\f005';
    position: absolute;
    font-family: fontAwesome;
    font-size: 30px;
    position: absolute;
    left: 4px;
    color: #030b0f;
    transition: 0.3s;
}
.product_detail_write_review_rating input:nth-child(2n + 1)::before{
    right: 4px;
    left: initial;
}
.product_detail_write_review_rating input:hover ~ input::before,
.product_detail_write_review_rating input:hover::before,
.product_detail_write_review_rating input:checked ~ input::before,
.product_detail_write_review_rating input:checked::before{
    color: orange;
}

/* Customer also Bought */
.product_detail_customer_bought_box{
    box-shadow: 0px 0px 25px silver;
}



/* === Checkout Page === */

.checkout_box_border{
    border: 1px solid silver;
}
.checkout_info_border{
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
}

/* Checkout Info Box */
.checkout_info_header_number{
    width: 30px;
    height: 30px;
    color: white;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 16px;
    font-family: font-bold;
}
.checkout_info_header_heading{
    font-size: 18px;
    color: var(--black);
}
.checkout_table_td{
    vertical-align: top;
    padding: 10px 0px;
    min-width: 130px;
}
.checkout_input{
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid silver;
    border-radius: 5px;
}
.checkout_input:focus{
    outline: none;
    border: 1px solid gray;
}
.checkout_password_btn{
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid silver;
    border-radius: 5px;
}
.checkout_password_btn:hover{
    border: 1px solid gray;
}
.checkout_promocode_btn{
    font-size: 14px;
    padding: 5px 15px;
    background-color: var(--primary-clr);
    color: white;
    border: none;
    transition-duration: 0.3s;
}
.checkout_promocode_btn:hover{
    background-color: var(--black);
}

/* Checkout Price Box */
.checkout_price_box_text{
    font-size: 14px;
    color: var(--black);
}
.checkout_price_box_text:hover{
    color: var(--black);
}
.checkout_price_box_total{
    font-size: 16px;
    color: black;
    font-weight: 600;
}
.checkout_place_order_btn{
    font-size: 16px;
    padding: 10px 15px;
    background-color: var(--primary-clr);
    color: white;
    border: none;
    transition-duration: 0.3s;
}
.checkout_place_order_btn:hover{
    background-color: var(--black);
    color: white;
}
.checkout_place_order_btn:active{
    color: white;
    background-color: var(--primary-clr);
}
.checkout_place_order_btn:focus{
    color: white;
    background-color: var(--black);
}

@media screen and (max-width: 768px) {
    .checkout_table_td{
        min-width: 90px;
    }
}



/* === Track Orders Page === */

/* Track  Orders Heading */
.track_order_heading{
    font-size: 24px;
    color: var(--black);
    font-family: font-bold;
}
.track_order_subheading{
    font-size: 14px;
    color: gray;
}

/* Order Track Table */
.track_order_table_search{
    width: 250px;
    outline: none;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid silver;
    transition-duration: 0.3s;
}
.track_order_table_search:focus{
    border-color: var(--primary-clr);
}
.track_order_table_sort_label{
    font-size: 14px;
}
.track_order_table_sort{
    outline: none;
    padding: 5px 5px;
    font-size: 14px;
    border: 1px solid silver;
}
.track_order_table_row{
    cursor: pointer;
    transition-duration: 0.3s;
}
.track_order_table_row > td:first-child{
    min-width: 200px;
}
.track_order_table_item{
    padding: 15px 15px !important;
    font-size: 14px;
    color: var(--black);
}

/* Order Track Details */
.order_tracking_graph{
	text-align: center;
	width: 33.33%;
	position: relative;
	display: block;
}
.order_tracking_graph .order_tracking_is_complete{
	display: block;
	position: relative;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 0px solid #AFAFAF;
	background-color: gray;
    /* #f7be16 yellow */
	margin: 0 auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	z-index: 2;
}
.order_tracking_graph .order_tracking_is_complete:after {
	display: block;
	position: absolute;
	content: '';
	height: 14px;
	width: 7px;
	top: -2px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border: 0px solid #AFAFAF;
	border-width: 0px 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
.order_tracking_graph.order_tracking_completed .order_tracking_is_complete{
	border-color: var(--primary-clr);
    /* #27aa80 Green */
	border-width: 0px;
	background-color: var(--primary-clr);
}
.order_tracking_graph.order_tracking_completed .order_tracking_is_complete:after {
	border-color: #fff;
	border-width: 0px 3px 3px 0;
	width: 7px;
	left: 11px;
	opacity: 1;
}
.order_tracking_graph p {
	color: #A4A4A4;
	font-size: 14px;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 20px;
    font-family: font-bold;
}
.order_tracking_graph p span{font-size: 14px;}
.order_tracking_graph.order_tracking_completed p{color: #000;}
.order_tracking_graph::before {
	content: '';
	display: block;
	height: 3px;
	width: calc(100% - 40px);
	background-color: gray;
	top: 13px;
	position: absolute;
	left: calc(-50% + 20px);
	z-index: 0;
}
.order_tracking_graph:first-child:before{display: none;}
.order_tracking_graph.order_tracking_completed:before{background-color: var(--primary-clr);}