@font-face{
    src: url(../font/Montserrat-Black.ttf);
    font-family: font-black;
}
@font-face{
    src: url(../font/Montserrat-Bold.ttf);
    font-family: font-bold;
}
@font-face{
    src: url(../font/Montserrat-ExtraBold.ttf);
    font-family: font-extra-bold;
}
@font-face{
    src: url(../font/Montserrat-ExtraLight.ttf);
    font-family: font-extra-light;
}
@font-face{
    src: url(../font/Montserrat-Light.ttf);
    font-family: font-light;
}
@font-face{
    src: url(../font/Montserrat-Medium.ttf);
    font-family: font-medium;
}
@font-face{
    src: url(../font/Montserrat-Regular.ttf);
    font-family: font-regular;
}
@font-face{
    src: url(../font/Montserrat-SemiBold.ttf);
    font-family: font-semi-bold;
}
@font-face{
    src: url(../font/Montserrat-Thin.ttf);
    font-family: font-thin;
}

:root {
    --black: #161616;
    --primary-clr: #EA3A3A;
}

*{
    font-family: 'font-medium', 'sans-serif';
}

/* =====  Home Page  ===== */

/* Welcome NS */
.home_welcome_ns{
    border-bottom: 2px solid #E9E9E9;
}
.home_welcome_ns_heading{
    font-size: 13px;
    color: var(--black);
    font-family: font-bold;
}
.home_welcome_ns_link{
    color: var(--black);
    font-family: font-medium;
    font-size: 13px;
    text-decoration: none;
}
.home_welcome_ns_link:hover{
    color: black;
}
.home_welcome_ns_drop_icon{
    color: var(--black);
    font-size: 28px;
}
.home_welcome_ns_drop_box > li > a{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: font-bold;
}

/* Navbar */
.navbar{
    background-color: var(--black);
}
.navbar-brand{
    background-color: var(--primary-clr);
    color: white;
    font-size: 15px;
    padding: 12.5px 13px !important;
    height: 100%;
}
.navbar-brand:hover{
    color: white;
}
.nav-item{
    height: 100%;
}
.nav-link{
    color: white;
    font-size: 15px;
    padding: 10px 13px !important;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-link:hover{
    background-color: var(--primary-clr);
    color: white;
}
.nav-link:focus{
    color: white;
}
.navbar-toggler{
    box-shadow: none !important;
}
.navbar-toggler-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Search Header */
.home_logo{
    color: var(--primary-clr);
    font-size: 22px;
    font-family: font-extra-bold;
}
.home_search_header_call_box{
    border-right: 2px solid #E9E9E9;
}
.home_search_header_icon_text{
    font-size: 13px;
    color: var(--black);
}
.home_search_header_call_number{
    font-family: font-bold;
    font-size: 15px;
    color: var(--black);
}

/* Policy Boxes */
.home_policy_boxes{
    border: 2px solid #E9E9E9;
    height: 100%;
}
.home_policy_box_heading{
    font-size: 14px;
    font-family: font-bold;
}
.home_policy_box_text{
    font-size: 14px;
}

/* Best Selling */
.home_best_selling_heading > a{
    font-size: 16px;
    color: var(--black);
    text-decoration: none;
}
.home_best_selling_heading > a:hover{
    text-decoration: underline;
}
.home_best_selling_price{
    font-size: 16px;
    font-family: font-bold;
    color: var(--black);
}
.home_best_selling_box{
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 15px 15px 35px rgb(230, 230, 230);
}

/* Footer */
.footer{
    background-color: var(--black);
}
.footer_heading{
    color: white;
    font-family: font-bold;
    font-size: 18px;
}
.footer_about{
    color: white;
    font-size: 16px;
    font-family: font-regular;
}
.footer_list > a{
    color: white;
    font-family: font-regular;
    text-decoration: none;
    transition-duration: 0.3s;
    font-size: 16px;
}
.footer_list > a:hover{
    transform: translate(5px);
}

@media screen and (max-width: 992px) {
    /* Navbar */
    .nav-link{
        color: var(--black);
        display: flex;
        align-items: center;
    }
}